html, body {
    height: 100%;
}


.xterm-viewport {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.xterm-viewport::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
